body {
    position: relative;
    font-family: Rubik, sans-serif;

header {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 16px;
    line-height: 18.96px;
    span {
        font-weight: bold;
    }
    .logotip {
        display: flex;
        flex-direction: row;

        &lasles {
            width:36.23px ;
        }
    }
    .logo {
        width: 35px;
        height: 36.23px;
        margin-left: 0;
    }

    .menu {
        display: flex;
        gap: 40px ;
        color: #4F5665;
    }
    .in {
        border: none;
        background-color:transparent;
        font-family: Rubik, sans-serif;
        font-weight: 500;
        line-height: 18.96px;
        font-size: 16px;
        color: #0B132A;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
            color: #4F5665;
            text-decoration: underline;
        }
    }
    .up {
        border: 1px solid #F53855;
        border-radius: 50px;
        height: 45px;
        width: 150px;
        text-align: center;
        background-color: transparent;
        color: #F53855;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-color: #F53838;
            color:#DDDDDD;
        }
      }
    }

    .information {
        display: flex;
        margin-left: 150px;

        &.inf {
            flex-direction: column;
            grid-gap: 20px;
            width: 555px;
        }
        h1 {
            font-weight: 500;
            margin-top: 101px;
            font-size: 50px;
            line-height: 70px;
            font-family: Rubik, sans-serif;
            color: #0B132A;

            span {
                font-weight: 700;
            }
        }
        h2 {
            font-family: Rubik, sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: #4F5665;
            span {
                font-family: Rubik, sans-serif;
                font-weight: 500;
                font-size: 16px;
                color: #4F5665;
            }
        }
        button {
            margin-top:30px;
            background-color: #F53838;
            width: 250px;
            height: 60px;
            border-radius: 10px;
            font-size: 16px;
            color: #FFFFFF;
            border: none;
            font-family: Rubik, sans-serif;
            cursor: pointer;

            &:hover {
                background-color: #FFFFFF;
                color: #F53838;
                font-weight: bold;
                border: 2px solid #F53838;
            }
        }
        .photo {
            margin-right: 83px;
            margin-left: 40.76px;
            margin-top: 101px;
        }
    }

    .menu1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 1140px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 104px;
        
        .ava {
            width: 24px;
            height: 24px;
        }
        .loc {
            width: 24px;
            height: 24px;
        }
        .ser {
            width: 24px;
            height: 24px;
        }
        .vector {
            height: 125px;
        }
        .user {
            flex-direction: column;
            gap: 5px;

    
        }
        span {
            color: #0B132A;
            font-family: Rubik, sans-serif;
            font-weight: 700;
            line-height: 30px;
            font-size: 25px;

        }
        p {
            font-family: Rubik, sans-serif;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #4F5665;
        }
    }

    .ilustration {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: start;
        margin-left: 184.52px;
        margin-top: 95px;
        .men {
            margin-right: 169px;
        }

        .chekList {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }
            p {
                font-family: Rubik, sans-serif;
                font-weight: normal;
                font-size: 14px;
                line-height: 30px;
            }
        }
    
        h1 {
            font-family: Rubik, sans-serif;
            font-weight: 500;
            font-size: 35px;
            line-height: 50px;
            color: #0B132A;
        }
        h2 {
            font-family: Rubik, sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            color: #4F5665;
        }
        .chek {
            text-align: left;
            font-family: Rubik, sans-serif;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            color: #4F5665;
            margin: 0;
        }
    }

    .tariffs {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;

        .box {
            width: 144.9px;
            height: 165.37px;
            margin-top:97px ;
        }
        .offer1 {
            text-align: center;
            align-items: center;
            width: 330px;
            height: 760px;
            border: 2px solid #DDDDDD;
            border-radius: 10px;

            .gal {
                float: left;
            }

            .line {
                display: flex;
                justify-content: center;
                align-items: center;
                
                gap: 20px;
                width: 100%;
                margin: 0 auto;
            }
        

        }

        .offer1 {
            text-align: center;
            align-items: center;
            width: 330px;
            height: 760px;
            border: 2px solid #DDDDDD;
            border-radius: 10px;
            
        }
        h3 {
            font-family: Rubik, sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #0B132A;
        }
        p {
            font-family: Rubik, sans-serif;
            color: #4F5665;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
        }
        h2 {
            
        }

        
    }
    h1 {
        font-family: Rubik, sans-serif;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
        text-align: center;
    }
    .two {
        font-family: Rubik, sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #4F5665;
        text-align: center;
    }
}


 