body {
  position: relative;
  font-family: Rubik, sans-serif;
}
body header {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 16px;
  line-height: 18.96px;
}
body header span {
  font-weight: bold;
}
body header .logotip {
  display: flex;
  flex-direction: row;
}
body header .logotiplasles {
  width: 36.23px;
}
body header .logo {
  width: 35px;
  height: 36.23px;
  margin-left: 0;
}
body header .menu {
  display: flex;
  gap: 40px;
  color: #4F5665;
}
body header .in {
  border: none;
  background-color: transparent;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  line-height: 18.96px;
  font-size: 16px;
  color: #0B132A;
  margin-right: 20px;
  cursor: pointer;
}
body header .in:hover {
  color: #4F5665;
  text-decoration: underline;
}
body header .up {
  border: 1px solid #F53855;
  border-radius: 50px;
  height: 45px;
  width: 150px;
  text-align: center;
  background-color: transparent;
  color: #F53855;
  font-weight: 500;
  cursor: pointer;
}
body header .up:hover {
  background-color: #F53838;
  color: #DDDDDD;
}
body .information {
  display: flex;
  margin-left: 150px;
}
body .information.inf {
  flex-direction: column;
  grid-gap: 20px;
  width: 555px;
}
body .information h1 {
  font-weight: 500;
  margin-top: 101px;
  font-size: 50px;
  line-height: 70px;
  font-family: Rubik, sans-serif;
  color: #0B132A;
}
body .information h1 span {
  font-weight: 700;
}
body .information h2 {
  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
body .information h2 span {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #4F5665;
}
body .information button {
  margin-top: 30px;
  background-color: #F53838;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  font-family: Rubik, sans-serif;
  cursor: pointer;
}
body .information button:hover {
  background-color: #FFFFFF;
  color: #F53838;
  font-weight: bold;
  border: 2px solid #F53838;
}
body .information .photo {
  margin-right: 83px;
  margin-left: 40.76px;
  margin-top: 101px;
}
body .menu1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1140px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 104px;
}
body .menu1 .ava {
  width: 24px;
  height: 24px;
}
body .menu1 .loc {
  width: 24px;
  height: 24px;
}
body .menu1 .ser {
  width: 24px;
  height: 24px;
}
body .menu1 .vector {
  height: 125px;
}
body .menu1 .user {
  flex-direction: column;
  gap: 5px;
}
body .menu1 span {
  color: #0B132A;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 25px;
}
body .menu1 p {
  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}
body .ilustration {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: start;
  margin-left: 184.52px;
  margin-top: 95px;
}
body .ilustration .men {
  margin-right: 169px;
}
body .ilustration .chekList {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .ilustration .chekList img {
  width: 24px;
  height: 24px;
}
body .ilustration .chekList p {
  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
body .ilustration h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}
body .ilustration h2 {
  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
body .ilustration .chek {
  text-align: left;
  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin: 0;
}
body .tariffs {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}
body .tariffs .box {
  width: 144.9px;
  height: 165.37px;
  margin-top: 97px;
}
body .tariffs .offer1 {
  text-align: center;
  align-items: center;
  width: 330px;
  height: 760px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
body .tariffs .offer1 .gal {
  float: left;
}
body .tariffs .offer1 .line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}
body .tariffs .offer1 {
  text-align: center;
  align-items: center;
  width: 330px;
  height: 760px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
body .tariffs h3 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}
body .tariffs p {
  font-family: Rubik, sans-serif;
  color: #4F5665;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
body h1 {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  text-align: center;
}
body .two {
  font-family: Rubik, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  text-align: center;
}/*# sourceMappingURL=style.css.map */